* {
    text-decoration: none;
   


}

.navbar {
    background-color: #cc0a0a;
    font-family: calibri;
    padding-left: 15px;
    padding-right: 15px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo a {
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-size: 35px;

}

.logo a:hover {
    color: black;
    transition: 0.3s;
}

li {
    list-style: none;
    color: white;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;

}

button {
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
}
button a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    display: block;
    margin: auto;
    text-decoration: none;

}